<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../assets/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../assets/css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">cardview（卡片视图）</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						年年有鱼
					</div>
				</div>
			</div>
			<div class="mui-card">
				<div class="mui-card-header">页眉</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						“年年有鱼” 是“年年有余”的谐音，可谓中国传统吉祥祈福最具代表的语言之一，若用图画表示则可看作是传统吉祥符号。图中要有莲花或莲藕，还要有鱼，即“莲连有鱼”。代表生活富足，每年都有多余的财富及食粮！
					</div>
				</div>
				<div class="mui-card-footer">页脚</div>
			</div>
			
			<!--<div class="mui-card">
				<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../assets/images/niannianyouyu.png)"></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">“年年有鱼” 是“年年有余”的谐音，可谓中国传统吉祥祈福最具代表的语言之一，若用图画表示则可看作是传统吉祥符号。图中要有莲花或莲藕，还要有鱼，即“莲连有鱼”。代表生活富足，每年都有多余的财富及食粮！</p>
					</div>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link">Like</a>
					<a class="mui-card-link">Read more</a>
				</div>
			</div>
			
			
			<div class="mui-card">
				<div class="mui-card-header mui-card-media">
					<div class="mui-card-media-object mui-pull-left">
						<img src="../images/logo.png" width="34px" height="34px" />
					</div>
					<div class="mui-card-media-body">
						小M
						<p class="mui-ellipsis">发表于 6小时前</p>
					</div>
				</div>
				<div class="mui-card-content mui-card-media" style="height:40vw;background-image:url(../assets/images/yuantiao.jpg)"></div>
				<div class="mui-card-footer">
					<a class="mui-card-link">Like</a>
					<a class="mui-card-link">Comment</a>
					<a class="mui-card-link">Read more</a>
				</div>
			</div>-->
			
			<div class="mui-card">
				<div class="mui-card-header mui-card-media">
					<img src="../images/logo.png" />
					<div class="mui-media-body">
						小M
						<p>发表于 2016-06-30 15:30</p>
					</div>
					<img class="mui-pull-left" src="../assets/images/logo.png" width="34px" height="34px" />
					<h2>小M</h2>
					<p>发表于 2016-06-30 15:30</p>
				</div>
				<div class="mui-card-content" >
					<img src="../images/yuantiao.jpg" alt="" width="100%"/>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link">Like</a>
					<a class="mui-card-link">Comment</a>
					<a class="mui-card-link">Read more</a>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
	</body>

</html>